{% extends "root.html" %}

{% load pages_tags mezzanine_tags i18n future %}

{% block below_nav %}
<div class="container">

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>
block
</div>


<div class="container">
<div class="row">

<div class="span2 left">
    {% block left_panel %}
    <div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="span7 middle">
    {% block main %}{% endblock %}
</div>

<div class="span3 right">
    {% block right_panel %}
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel">
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
</div>

</div>
</div>
{% endblock below_nav %}
