{% extends "base.html" %}

{% comment %}
  Look at base.html and look at what content blocks are available (ctrl+f block). Inherit any you want to override.  The main two are {% block canvas %} and {% block content %}.  Canvas contains everything in between the navbar and the footer, and content contains the middle column.

  Put static files (css, js, and images) into the appropriate folder in apps/theme/static/
  I have a simple file in there as an example that I'm using to style this template
{% endcomment %}

{% block meta_title %}
  Profile
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/dummy.css">
{% endblock %}


{% block content %}
<div class="row">
  <div class="span5">
      <h4><a href="#">Name 1</a></h4>
      <p>Bio or headline information for profile</p>
  </div>
  <div class="span3">skills</div></div>
<hr>
 
<div class="row">
  <div class="span5">
      <h4><a href="#">Name 2</a></h4>
      <p>Bio or headline information for profile</p>
  </div>
  <div class="span3">skills</div></div>
<hr>
 
<div class="row">
  <div class="span5">
      <h4><a href="#">Name 3</a></h4>
      <p>Bio or headline information for profile</p>
  </div>
  <div class="span3">skills</div>
</div>
<hr>
{% endblock %}