{% extends "base.html" %}

{% comment %}
  Look at base.html and look at what content blocks are available (ctrl+f block). Inherit any you want to override.  The main two are {% block canvas %} and {% block content %}.  Canvas contains everything in between the navbar and the footer, and content contains the middle column.

  Put static files (css, js, and images) into the appropriate folder in apps/theme/static/
  I have a simple file in there as an example that I'm using to style this template
{% endcomment %}

{% block meta_title %}
  Profile
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/dummy.css">
{% endblock %}


{% block content %}
  <div class="block_area">
    <p>This block is outlined.  Notice that block canvas totally overrides all the main content of the site, but leaves the navbar and the footer intact?  Try changing the name of this block to "block content" to replace that block instead and see what it looks like.</p>

    <p>Check out <a href="http://twitter.github.io/bootstrap/">bootstrap</a> and skim the tools it provides for free (no effort).  Bootstrap is called in base.html, so every page that extends it will have access to all the tools.  For example, here is a bootstrap-styled <a class="btn btn-primary" href="http://twitter.github.io/bootstrap/base-css.html#buttons">button</a>
    <p></p>

    <p>Here is a variable I defined in the urlconfig: {{params.variable}}</p>
    <p>This one is defined in a view: {{variable}}</p>
  </div>
{% endblock %}