{% extends "base.html" %}


{% block meta_title %}
  {# I'm using a variable here so this same template can be reused #}
  {{cohort_category}} Cohorts
{% endblock %}


{% block content %}
<h1>{{cohort_category}} Cohorts</h1>

{% for cohort in cohort_list %}
  <p>
    {# the cohort_detail url captures two kwargs, so I'm using named args in my reverser to avoid ambiguity #}
    <a href="{% url "cohort_detail" city=cohort.city.slug cohort=cohort.slug %}">
      {{cohort.name}} - {{cohort.description}}
    </a>
  </p>
{% endfor %}

{% endblock %}