{% extends "base.html" %}

{% block meta_title %}
Applicants | {{project.name}}
{% endblock %}


{% block hero %}
<h2>Project Applicants</h2>
<p>
    Select applicants to accept them as members of this project.  Please note that only site staff can un-accept someone.
</p>
{% endblock hero %}


{% block content %}

{% if project.applicants.count %}
    <form method="POST">{% csrf_token %}
        <ul class="unstyled">
        {% for applicant in project.applicants.all %}
            <label class="checkbox" style="background-color:#eee;">
                <input type="checkbox" name="applicants" value="{{applicant.pk}}">
                <a href="{% url "userprofile_detail" applicant.pk %}">
                    {{applicant}}
                </a>
                 - {{applicant.user.first_name}} {{applicant.user.last_name}}
            </label>
        {% endfor %}
        </ul>
        <input class="btn btn-success" type="Submit" value="Approve Selected Applicants" />
    </form>
{% else %}
    <p>No applicants.  Sorry.</p>
{% endif %}

{% endblock content %}