
{% extends "base.html" %}

{% block meta_title %}
	{{project.name}} - CodeRaising Projects 
{% endblock %}

{% block content %}

<h1>{{project.name}}</h1>
<hr />
{% if not project.is_approved %}
	<div class="alert alert-error"> Project not approved </div>
{% endif %}

<h3>Description</h3>
<p>
	{{project.description}}
</p>

<h3>Technologies Used:</h3>
<p>
	{{project.technologies}}
<p>

<h3>Mentor(s):</h3>
<ul>
	{% for mentor in project.mentors.all %}
	<li> <a href="{% url "userprofile_detail" mentor.pk %}" > {{mentor.user}}</a></li>
	{% endfor %}
</ul>

<h3>Mentees:</h3>
<ul>
	{% for mentee in project.members.all %}
	<li> <a href="{% url "userprofile_detail" mentee.pk %}"> {{mentee.user}} </a></li>
	{% endfor %}
</ul>

<br />


{% if request.user.userprofile in project.mentors.all or request.user.is_staff %}
    <a href="{% url "project_edit" project.pk %}">Edit Project </a>
{% endif %}


{% endblock %}

