
{% extends "base.html" %}

{% block meta_title %}
  CodeRaising Projects
{% endblock %}

{% block content %}
<h1>Projects:</h1>

<ul>
{% for project in project_list %}
	{% if project.is_approved  or request.user.is_staff %}
		<li>
			<a href="{% url "project_detail" project.pk project.slug %}">
			{{project.name}} 
			</a>
			{% if request.user.is_staff and not project.is_approved %}
				<div class="alert alert-error"> Project not approved </div>
			{% endif %}
			<pre> {{project.description}} </pre>
		</li>
	{% endif %}
{% endfor %}
</ul>

<br />
<a href="{% url "project_propose" %}"> Propse your own project </a>


{% endblock %}

